footer {
  display: flex;
  align-items: center;
  justify-content: center;
  #gradient.linear(@color[primary], darken(@color[primary], 10%));
}

.footer-content {
  .footer-text-color();
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;

  a {
    text-decoration: none;
    padding: 1.5rem 1.2rem;
    display: inline-block;
    .footer-text-color();

    &:hover {
      color: white;
    }
  }

  &-disclaimer {
    padding: 1rem 0;
    background-color: @color[graydark];
    border-top: 4px solid white;
  }
}

.footer-text-color() {
  color: white;
}