footer {
  // grid-area: footer;
  display: flex;
  // background-color: darken(@color[primary], 15%);
  #gradient.linear(@color[primary], darken(@color[primary], 5%));
  height: 180px;
}

.footer-content {
  .footer-text-color();
  width: 100%;
  font-size: 1rem;
  margin: 2rem auto;
  text-align: center;

  a {
    margin-left: 5px;
    font-size: 1rem;
    .footer-text-color();

    &:hover {
      color: white;
    }
  }
}

.footer-text-color() {
  color: lighten(@color[primary], 30%);
}