.gradient {
  padding: 1rem;
  color: white;
  #display.dimensions(100%, 80px);
  #border.radius();

  &-wrapper {
    margin-left: auto;
    width: 240px;
  }

  &--01 {
    #gradient.linear();
  }

  &--02 {
    #gradient.linear(top);
  }

  &--03 {
    #gradient.linear(right, @forest-green, @mint-green);
  }

  &--04 {
    #gradient.linear(left, @forest-green, @mint-green);
  }

  &--05 {
    #gradient.radial();
  }

  &--06 {
    #gradient.radial(@apricot, @vermilion);
  }
}