.layout {

  &__content {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
  }

  .about-container {
    padding: 2rem 4rem;
    margin: 0 auto;
    box-shadow:
      inset 2px 0 6px @color[graymedium],
      inset -2px 0 6px @color[graymedium];
  }

  &__description {
    padding: 3rem;
    box-shadow:
      inset 2px 0 6px @color[graymedium],
      inset -2px 0 6px @color[graymedium];

    &-header {
      padding: 0 1rem;
      margin-bottom: 2rem;
      #border.solid(bottom, 4px, @color[primary]);
    }
  }

  &__side {
    background-color: @mystic;
    padding: 1rem;
  }
}