@primary-font: 'Archivo&subset=latin';

@color-01: @colors[primary];
@color-02: @colors[secondary];
@color-03: @colors[graylight];

#font {
  .family() {
    font-family: @primary-font, sans-serif;
  }
}