@primary-font: 'Archivo&subset=latin';

@color-01: @color[primary];
@color-02: @color[secondary];
@color-03: @color[graylight];

#font {
  .family() {
    font-family: @primary-font, sans-serif;
  }
}