.code-block {
  display: flex;
  margin: 1rem 0;
  align-items: center;

  pre {
    border-radius: @settings[radius];
    background-color: black !important;
  }

  &__example {
    
    @media @laptop-small-min {
      width: 70%;
    }
  }

  &__description {
    padding: 1rem 0;
    margin: 2rem 0 1rem 0;
    padding-left: 2rem;
    font-size: 1.1rem;
    #border.solid(left, 8px, @color[primary]);

    @media @laptop-small-min {
      width: 70%;
    }

    pre {
      border-radius: @settings[radius];
      background-color: black !important;
    }
  }
}

.linenumber span.react-syntax-highlighter-line-number>span {
  position: relative;
}

.linenumber span.react-syntax-highlighter-line-number>span::after {
  content: " ";
  position: absolute;
  top: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}